@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.trip {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    margin: 1rem 0;

    &__info {
        font-size: 1rem;
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 7rem;
        font-weight: bold;
        &-time {
            font-size: 1rem; 
        }

        &-location {
            font-size: 1.2rem; 
        }
    }
    &__profile{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;
    }

    
}
