@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $turquoise;
    margin: 4rem 3rem;
    padding-bottom: 1rem;

    @include tablet{
        margin: 4rem 8rem;
    }

    @include desktop{
        margin: 4rem 15rem;

    }
    &__left{
        &-text{
            font-size: 1.3rem;
        }
    }
    &__right{
        &-icon{
            width: 3rem
        }
    }
}
.update {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    &__title {
        padding: 16px;
        // z-index: 1;
        text-align: center;
    }

    .form {
        width: 256px;
        padding: 1.1875rem;
        border: .0625rem solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @include tablet {
            width: 320px;
        }

        @include desktop {
            width: 352px;
        }
        
        &__arrow {
            background-color: $turquoise;
            border-radius: 50%;
            padding: .5rem;
        }

        .form__label {
            display: block;
            margin-bottom: .5rem;
        }

        .form__input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        .form__textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            resize: vertical;
        }


        .form__button {
            width: 100%;
            background-color: $light-grey;
            border: none;
            padding: 8px;
            margin-top: 8px;
            font-family: "the other one";

            &:hover {
                background-color: $turquoise;
            }
        }
        
    }   
}
.button_container{
    display: flex;
    justify-content: center;
}
.delete_button,
.logout{
    border: none;
    padding: .5rem;
    margin: .5rem;
    font-family: "the other one";

}
.delete-confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}