@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.info {
    display: flex;
    justify-content: space-between;
    border-bottom: .07rem solid $turquoise;
    margin: 4rem 3rem 1rem;
    padding-bottom: 1rem;

    @include tablet {
        margin: 4rem 8rem;
    }

    @include desktop {
        margin: 4rem 15rem;
        align-items: center;
    }

    &__left {
        &-text {
            font-size: 1.3rem;

            @include desktop {
                font-size: 1.75rem;
            }
        }
    }

    &__right {
        &-icon {
            width: 2.2rem;
            cursor: pointer;
        }
    }
}

.update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    &__title {
        padding: 1rem;
        text-align: center;
    }

    .form {
        width: 16rem;
        padding: 1.1875rem;
        border: .0625rem solid #ccc;
        border-radius: .5rem;
        background-color: #fff;
        box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);

        @include tablet {
            width: 20rem;
        }

        @include desktop {
            width: 22rem;
        }

        &__arrow {
            background-color: $turquoise;
            border-radius: 50%;
            padding: .5rem;
        }

        .form__label {
            display: block;
            margin-bottom: .5rem;
        }

        .form__input {
            width: 100%;
            padding: 8px;
            margin-bottom: 1rem;
            box-sizing: border-box;
        }

        .form__textarea {
            width: 100%;
            padding: .5rem;
            margin-bottom: 1rem;
            box-sizing: border-box;
            resize: vertical;
        }


        .form__button {
            width: 100%;
            background-color: $light-grey;
            border: none;
            padding: .5rem;
            margin-top: .5rem;
            font-family: "the other one";
            box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
            cursor: pointer;


            &:hover {
                background-color: $turquoise;
            }
        }

    }
}

.button_container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.delete_button,
.logout {
    border: none;
    padding: .5rem;
    margin: .5rem;
    font-family: "the other one";
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: $light-grey;
    color: $font-black;

    &:hover {
        background-color: $turquoise;
    }
}

.delete-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.no-offered-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
    margin: 1.5rem;

}

.my-trips {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid $turquoise;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        @include desktop {
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }

    &__container {
        list-style: none;
        padding: 0;

        &-item {
            background-color: $white;
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
            padding: 1rem;
            margin-bottom: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $lighter-grey;
            }

            @include desktop {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $turquoise;
            }

            .delete-icon {
                cursor: pointer;
                margin-top: 0.5rem;
                width: 1.5rem;
                height: 1.5rem;

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }
}