@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @include tablet{
        margin-top: 4rem;
    }

}

.form-rides {
    width: 50%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 1.5rem;

    &__group {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__label {
        display: block;
        margin-bottom: .5rem;
    }

    &__input {
        width: 100%;
        padding: .3rem;
        margin-bottom: 2rem;
        box-sizing: border-box;
        border: none;
        border-bottom: .07rem solid $light-grey;
        transition: border-bottom 0.3s ease;

        &:focus {
            border-bottom: .07rem solid $light-grey;
        }

    }

    &__select {
        width: 100%;
        padding: .3rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border: none;
        border-bottom: .07rem solid $light-grey;
        transition: border-bottom 0.3s ease;
        font-size: .75rem;

        &:focus {
            border-bottom: .07rem solid $light-grey;
        }

    }

    &__button {
        background-color: $turquoise;
        padding: .75rem;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        font-family: "another one";

        &:hover {
            background-color: $search-hover;
            color: $white;
        }
    }
}

.rides-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;

    &__button {
        border: none;
        padding: .65rem;
        margin: .5rem;
        font-family: "the other one";
        cursor: pointer;

        &:hover {
            background-color: $turquoise;
        }
    }
}