@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.home{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__photo {
        width: 50vh;
        height: 50vh;
        margin-top: 1rem;
        padding: 3rem 2rem;

        @include tablet{
            width: 60vh;
            height: 60vh;
        }

        @include desktop{
            width: 70vh;
            height: 70vh;
        }
    }

    &__title{
        margin: 1rem;
        margin-top: 0;
    }

    &__arrow{
        background-color: $turquoise;
        border-radius: 50%;
        padding: .65rem;
        margin: 3rem;
    }
}