@use '../src/assets/styles/partials/colors' as *;
@use '../src/assets/styles/partials/mixin' as *;
@use '../src/assets/styles/partials/variables' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}