@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variables' as *;

.signup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('../../images/home.jpeg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    &__title {
        padding: 1rem;
        z-index: 1;
        text-align: center;
    }

    .form {
        width: 16rem;
        padding: 1.2rem;
        border: 1px solid #ccc;
        border-radius: .5rem;
        background-color: #fff;
        box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
        z-index: 1;
        margin: 1rem;
        @include tablet {
            width: 20rem;
        }

        @include desktop {
            width: 22rem;
        }
        
        &__arrow {
            background-color: $turquoise;
            border-radius: 50%;
            padding: .45rem;
        }

        .form__label {
            display: block;
            margin-bottom: .5rem;
        }

        .form__input {
            width: 100%;
            padding: .5rem;
            margin-bottom: 1rem;
            box-sizing: border-box;
        }

        .form__textarea {
            width: 100%;
            padding: .5rem;
            margin-bottom: 1rem;
            box-sizing: border-box;
            resize: vertical;
        }

        .form__button {
            width: 100%;
            background-color: $light-grey;
            border: none;
            padding: .5rem;
            font-family: "the other one";

            &:hover {
                background-color: $turquoise;
            }
        }
    }
}
